@model SpecialistViewModel



<div class="card mb-3">
    <img class="card-img-top" src="@Model.ImageUrl" alt="Specialist Image" />
    <div class="card-body text-center">
        <h4 class="card-title">@Model.FirstName @Model.LastName</h4>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">Phone number: @Model.PhoneNumber</p>
        @if (Model.IsBusy == false)
        {
            <a asp-area="" asp-controller="Specialist" asp-action="Hire"
               asp-route-id="@Model.Id" class="btn btn-success">Hire</a>
        } else
        {
            <a class="ml-2 btn btn-danger mb-3" asp-controller="Client" asp-action="Remove"
               asp-route-id="@Model.Id">Remove</a>
        }

    </div>
</div>
