@model CategoryDetailsViewModel
@{
    ViewBag.Title = "Hire a specialist";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="container">
    <div class="row">
        <div class="col-md-1">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@Url.Content(Model.ImgUrl)" alt="" onerror="this.style.display='none'">
                <img class="card-img-top" src="~/@Url.Content(Model.ImgUrl)" alt="" onerror="this.style.display='none'">
                 <div class="card-body">
                    <p style="font-size:25px;"><u>@Model.Title</u></p>
                    <p>Description: <b>@Model.Description</b></p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card-group">
    
        @foreach (var specialist in @Model.Specialists)
        {
            <partial name="_SpecialistPartial" model="@specialist" />
        }
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@* //col-md-4 mt-3 mb-3 *@
